
// Color: Theme
// ========================================
$theme-color: (
	'primary':#548BDE,
	'secondary':#DAE6F8,
	'succes':#5DDE54,
	'danger':#F05746,
	'warning':#FFEB51,
	'light':#FAFAFA,
	'dark':#2B2B2B,
	'gray':#BEBEBE,
	'white':#FFFFFF,
	'black':#000000,
	);

$primary: map-get($theme-color, 'primary') !default;
$secondary: map-get($theme-color, 'secondary') !default;
$succes: map-get($theme-color, 'succes') !default;
$danger: map-get($theme-color, 'danger') !default;
$warning: map-get($theme-color, 'warning') !default;
$light: map-get($theme-color, 'light') !default;
$dark: map-get($theme-color, 'dark') !default;
$gray: map-get($theme-color, 'gray') !default;
$white: map-get($theme-color, 'white') !default;
$black: map-get($theme-color, 'black') !default;

// Display: Flex
// ========================================
@mixin flex() {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
}

// Margin & Padding (mp)
// ========================================
$mp: (
	'sm':'15px',					// Smal
	'md':'25px',					// Medium
	'l':'35px',						// Large
	'xl':'45px',					// Extra Large
	'xxl':'55px',					// Extra Extra Large
	'xxxl':'65px',					// Extra Extra Extra Large
	);

$mp-sm: map-get($mp, 'sm') !default;
$mp-md: map-get($mp, 'md') !default;
$mp-l: map-get($mp, 'l') !default;
$mp-xl: map-get($mp, 'xl') !default;
$mp-xxl: map-get($mp, 'xxl') !default;
$mp-xxxl: map-get($mp, 'xxxl') !default;

// Breakpoint
// ========================================
$bp-min-mobile: "450px";
$bp-max-mobile: "785px";
$bp-min-tablet: "786px";
$bp-max-tablet: "968px";
$bp-min-laptop: "980px";
$bp-max-laptop: "1120px";
$bp-min-monitor: "1125px";
$bp-max-monitor: "1300px";
