
@use "../variables";

@mixin btn($background: $white, $font-color: $black, $border-color: $black) {
	padding: 7px 14px;
	display: inline-block;
	background: $background;
	color: $font-color;
	letter-spacing: .6px;
	border: 1px solid $border-color;
	cursor: pointer;
	border-radius: 0;
	text-decoration: none;
	&:hover, &:focus, &:active {
		text-decoration: none;
		background: $font-color;
		color: $background;
		border-radius: 0;
	}
}

// Default button
button, .btn {
	@include btn();
}

.btn-primary {
	@include btn($primary, $white, $primary);
}

.btn-succes {
	@include btn($succes, $white, $succes);
}

.btn-danger {
	@include btn($danger, $white, $danger);
}

.btn-warning {
	@include btn($warning, $white, $warning);
}

.btn-light {
	@include btn($light, $dark, $light);
}

.btn-dark {
	@include btn($dark, $white, $dark);
}

.btn-gray {
	@include btn($gray, $white, $gray);
}

.btn-white {
	@include btn($white, $black, $white);
}

.btn-black {
	@include btn($black, $white, $black);
}
