
@use '../variables';

@mixin navbar() {
	padding: 15px 0;
	letter-spacing: 1px;
	nav {
		@include flex();
		ul {
			@include flex();
			padding-left: 0;
			margin: auto 0;
			li {
				@include flex();
				list-style: none;
				margin-right: 20px;
				&:nth-last-child() {
					margin-right: 0;
				}
				a, a:hover {
					text-decoration: none !important;
				}
			}
		}
		div.contact, div.social-media {
			box-sizing: border-box;
			margin: auto;
			margin-right: 0;
			a {
				text-decoration: none !important;
				&:hover {
					text-decoration: none !important;
				}
			}
		}
	}
}

header, .header {
	@include navbar();
	nav {
		ul {
			li {
				margin: auto 30px auto 0;
			}
		}
	}

}

footer, .footer {
	@include navbar();
	nav {
		ul {
			margin-top: 0;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: #{$bp-max-mobile}) {
	header {
		.container {
			nav {
				ul {
					li:not(.logo) {
						display: none;
					}
				}
			}
		}
	}
}
